* {
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: url(/Portfolio/portfolioimg/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px;
}

.whatsapp {
    padding-top: 20px;
    padding-right: 5px;
}

.linkedin {
    padding-top: 20px;
    padding-right: 5px;
}

.github {
    padding-top: 20px;
    padding-right: 5px;
}

.facebook {
    padding-top: 20px;
    padding-right: 5px;
}

.instagram {
    padding-top: 20px;
    padding-right: 5px;
}